.w {
    width: 10px;
    height: 10px;
    box-shadow:
      650px 150px #ffffff,
      660px 160px #ffffff,
      670px 170px #ffffff,
      680px 170px #ffffff,
      690px 170px #ffffff,
      700px 170px #ffffff
  }
  .shell {
    width: 20px;
    height: 20px;
    box-shadow: 
      720px 80px #BA7E2C,
      700px 80px #BA7E2C,
      680px 80px #BA7E2C,
      660px 80px #BA7E2C,    
      640px 100px #BA7E2C,
      620px 120px #BA7E2C,
      620px 140px #BA7E2C,
      620px 160px #BA7E2C,
      640px 180px #BA7E2C,
      660px 200px #BA7E2C,
      680px 200px #BA7E2C,
      700px 200px #BA7E2C,
      720px 200px #BA7E2C,
      740px 180px #BA7E2C,
      760px 160px #BA7E2C,
      760px 140px #BA7E2C,
      760px 120px #BA7E2C,
      740px 100px #BA7E2C,
      720px 100px #BA7E2C,
      700px 100px #BA7E2C,
      680px 100px #BA7E2C,
      660px 100px #BA7E2C,
      640px 120px #BA7E2C,
      660px 120px #BA7E2C,
      680px 120px #BA7E2C,
      700px 120px #BA7E2C,
      720px 120px #BA7E2C,
      740px 120px #BA7E2C,
      740px 140px #BA7E2C,
      720px 140px #BA7E2C,
      700px 140px #BA7E2C,
      680px 140px #BA7E2C,
      640px 140px #BA7E2C,
      660px 140px #BA7E2C,
      640px 160px #BA7E2C,
      660px 160px #BA7E2C,
      680px 160px #BA7E2C,
      700px 160px #BA7E2C,
      720px 160px #BA7E2C,
      740px 160px #BA7E2C,
      720px 180px #BA7E2C,
      700px 180px #BA7E2C,
      680px 180px #BA7E2C,
      660px 180px #BA7E2C,
      740px 200px #60854C,
      760px 200px #60854C,
      760px 180px #60854C,
      760px 220px #60854C,
      740px 220px #60854C,
      720px 220px #60854C,
      700px 220px #60854C,
      680px 220px #60854C,
      660px 220px #60854C,
      640px 220px #60854C,
      640px 200px #60854C,
      620px 200px #60854C,
      620px 220px #60854C,
      600px 220px #60854C,
      780px 220px #60854C,
      780px 200px #60854C,
      780px 180px #60854C,
      780px 160px #60854C,
      780px 140px #60854C,
      780px 120px #60854C,
      780px 100px #60854C,
      800px 80px #60854C,
      800px 100px #60854C,
      800px 120px #60854C,
      800px 140px #60854C,
      800px 160px #60854C,
      800px 180px #60854C,
      800px 200px #60854C,
      820px 100px #60854C,
      820px 120px #60854C
  }
  .detail{
    width: 10px;
    height: 10px;
    box-shadow:
      650px 60px #BA7E2C,
      740px 60px #BA7E2C,
      630px 80px #BA7E2C,
      760px 80px #BA7E2C,
      630px 150px #BA7E2C,
      760px 150px #BA7E2C,
      650px 170px #BA7E2C,
      740px 170px #BA7E2C,
      710px 40px #BA7E2C,
      700px 40px #BA7E2C,
      690px 40px #BA7E2C,
      680px 40px #BA7E2C,
      820px 60px #60854C,
      790px 60px #60854C,
      820px 110px #60854C,
      800px 190px #60854C,
      780px 50px #60854C,
      780px 60px #60854C,
      780px 40px #60854C,
      780px 30px #60854C,
      810px 40px #60854C,
      810px 30px #60854C,
      790px 50px #60854C
      
  }